<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="database.js"></script>
    <link rel = "stylesheet" type = "text/css" href = "database.css" />
</head>
<body>
    <h3>Hello User. Welcome to Stonks!</h3>
    <p>We are a Dividend Tracking Software.</p>

    <div class="popup" onclick="myFunction()">Click me!
            <span class="popuptext" id="myPopup">
                    <input type = "text"
                    id = "Userinputsymbolforexchange"
                    placeholder="Input Exchange Symbols" />
            </span>
    </div>
</body>
</html>
